.hidden {
  display: none !important;
}

/* GENERAL */

html,
body {
  background-color: #a4c6dd;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#app button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#app button:hover {
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#app child-selector {
  width: 100vw;
  height: 100vh;
}

/* WELCOME  */

#welkomPage {
  display: flex;
}

.welkomLeft {
  background-image: url("../img/pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

.welkomRight {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoImg {
  border-radius: 2rem;
  width: 10rem;
  margin-bottom: 3rem;
}

.welkomContext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.welkomContext p {
  display: flex;
  justify-content: center;
}
/* Login page */
#login {
  display: flex;
}
.loginLeft {
  background-image: url("../img/pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

.loginRight {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Register page */
#signup {
  display: flex;
}
.registerLeft {
  background-image: url("../img/pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

.registerRight {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Home page */
#homePage {
  display: flex;
}
.left {
  background-image: url("../img/backgroundPic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}
.right {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Project Page */

.projectHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 3rem;
}

.addTodoFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#addTodoListDiv {
  padding: 1rem;
  margin-bottom: 3rem;
  width: fit-content;
  border: 2px solid rgb(210, 233, 152);
  border-radius: 1rem;
  background-color: rgb(210, 233, 152);
  box-shadow: -8px 7px 24px -10px rgba(0, 0, 0, 0.75);
}

.projectHeader .logoImg {
  width: 5rem;
  border-radius: 2rem;
}
/* Todolist */

.todoList {
  position: relative;
  border-radius: 2rem;
  max-height: 80vh;
  background: rgb(210, 233, 152);
  padding: 1rem;
  margin: 1rem;
  float: left;
  min-width: 300px;
  overflow: scroll;
  box-shadow: -8px 7px 24px -10px rgba(0, 0, 0, 0.75);
}

.todoList h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#to-do-list-button {
  margin-left: 1rem;
}

/* Card */

.card {
  /*border: 1px solid blue;*/
  border-radius: 4px;
  border-bottom: rgb(234, 216, 117) 1px solid;
  background: white;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 0.9em;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card button:hover {
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(255, 0, 0);
  width: 25px;
  height: 25px;
}

/* Card details, menu and comments */

.menuContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu {
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 4px;
}

.menuTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.menuDescription {
  margin-bottom: 2em;
  line-height: 1.5em;
}

.menuDescription textarea {
  width: 100%;
  height: 5em;
  padding: 0.5em;
  font-size: 1.1em;
}

.comment {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
}

.commentsInput {
  margin-right: 0.5em;
}

.btn-save {
  background-color: #3f4bd0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.5em;
}

.card .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgb(255, 0, 0);
  border: none;
  width: 15px;
  height: 15px;
}

/* Account page*/

.myAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myAccount h2 {
  color: rgb(255, 255, 255);
}

.accountContext {
  padding: 3rem;
  border: 2px solid rgb(210, 233, 152);
  border-radius: 1rem;
  background-color: rgb(210, 233, 152);
  box-shadow: -8px 7px 24px -10px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
}
